/*
Colors used:
Primary Color (Green): #26f522;
Secondary Color (Turquoise): #23f596;
Tertiary Color (Blue): #8dc8ae;
Accent Color (Yellow): #f5da29;
Primary Background Color (Black): #282828;
Secondary Background Color (Dark-Blue): #253c3c;
*/

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #ffffff;
  }

  header {
    background-color: #282828;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 11px 25px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 0 11px 25px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 0 11px 25px rgba(0, 0, 0, 0.5)  ;  
    height: [object Object]px;
    position: fixed;
  }

  main {
    padding-top: 133px;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
    padding: 15px;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 10px 0;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    margin: 0;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  a {
    color: #26f522;
    text-decoration: none;
  }
  a:hover {
    color: #23f596;
    text-decoration: underline;
  }

  a:visited {
    color: #f5da29;
  }
  a:active {
    color: #8dc8ae;
  }

  .button {
    display: inline-block;
    background-color: #23f596;
    color: #282828;
    font-weight: 400;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 2px solid #8dc8ae;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  .button:visited {
    color: #253c3c;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*width: 80%;*/
  }

  #icons {
    width: 32px;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0;
  }

  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

  #hero h1 {
    text-align: center;
  }

  .logo {
    max-width: 250px;
  }

  nav {
    display: inline-block;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  #hero {
    background-color: #282828;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
  }

  p {
    padding: 0 15px;
    margin-top: 0;
  }

  .list {
    margin: 0;
  }

  #skills{
    margin-bottom: 20px;
  }