/*
Colors used:
Primary Color (Green): #26f522;
Secondary Color (Turquoise): #23f596;
Tertiary Color (Blue): #8dc8ae;
Accent Color (Yellow): #f5da29;
Primary Background Color (Black): #282828;
Secondary Background Color (Dark-Blue): #253c3c;
*/

.montserrat- <website-font> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  body {
    background-color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #ffffff;
  }

  header {
    background-color: #282828;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 11px 25px rgba(0, 0, 0, 0.5);
    height: auto;
    position: fixed;
  }

  main {
    padding-top: 48px;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
    padding: 15px;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 10px 0;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    margin: 0;
    padding: 0 0 15px 0;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  a {
    color: #26f522;
    text-decoration: none;
  }
  a:hover {
    color: #23f596;
    text-decoration: underline;
  }

  a:visited {
    color: #f5da29;
  }
  a:active {
    color: #8dc8ae;
  }

  .button {
    display: inline-block;
    background-color: #23f596;
    color: #282828;
    font-weight: 400;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 2px solid #253c3c;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8;
    text-decoration: none;
    
  }

  .button:visited {
    color: #253c3c;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    /*width: 80%;*/
  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  #cv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 50%;
  }

  #icons {
    text-align: center;
  }

  #icons > a {
    width: 32px;
    margin: 0 12px 20px 12px;
    display: inline-block;
    vertical-align: middle;
  }

  .email {
    padding: 0 0 12px 15px;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 50px 0;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  svg { width: 100%; }

  /* #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; } */

  #hero h1 {
    text-align: center;
  }

  .logo {
    max-width: 150px;
    margin-left: 0%;
    padding: 10px 0 4px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  #hero {
    background-color: #282828;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #hero span {
    display: block;
  }

  p {
    /* padding: 0 15px; */
    margin-top: 0;
  }

  .list {
    margin: 0;
  }

  #skills{
    margin-bottom: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #8dc8ae;
  }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  .anim {
    text-align: left;
    width: 100%;
  }

  #case-study {
    padding: 0 0 20px 0;
  }

  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 0 0 13px;
  }

  [class*="col-"] {
    padding: 10px 10px 10px 25px;
  }

  h2 {
    padding-left: 25px;
  }

  body {
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 0;
  }

  nav > ul {
    margin: 1em 0;
  }

  .logo {
    width: 100%;
    float: left;
    margin: 12px 0;
    max-width: 200px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-6 > h3 {
    padding-top: 0;
  }

  .row {
    margin-top: 0;
  }

  #about-page h3 { margin-top: 0;}

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li  {
    padding: 0;
    border-top: none;
  }

  .myPicture {
    display: block;
    width: 80%;
    margin: auto;
  }

  #cv {
    width: 35%;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  header {
    text-align: unset;
  }

  [class*="col-"] {
    padding: 10px 10px 10px 40px;
  }

  h2 {
    padding-left: 40px;
  }

  body {
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    max-width: 250px;
    padding: 4px 0 0 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .myPicture {
    display: block;
    width: 50%;
    margin: auto;
  }

  #cv {
    width: 25%;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */

@media only screen and (min-width: 1920px) {

  header {
    text-align: unset;
  }

  body {
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
  }

  .logo {
    max-width: 250px;
    padding: 4px 0 0 0;
  }

}